body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f9f9f9;
}
.sidebar {
  height: 100vh;
  position: fixed;
  top: 56px;
  left: 0;
  padding-top: 1rem;
  border-right: 1px solid #ddd;
}
.nav-link.active {
  background-color: #0d6efd;
  color: white !important;
}

.dark-mode {
  background-color: #121212;
  color: #ffffff;
}
.dark-mode .card {
  background-color: #1e1e1e;
  color: white;
}
.dark-mode .bg-light {
  background-color: #2c2c2c !important;
}
